openapi: 3.1.0
info:
  title: Sayna API
  description: Real-time voice processing server with Speech-to-Text (STT) and Text-to-Speech (TTS) services
  contact:
    name: Sayna
    url: https://api.sayna.ai
  license:
    name: Apache-2.0
    identifier: Apache-2.0
  version: 0.1.0
servers:
- url: https://api.sayna.ai
  description: Production API
- url: http://localhost:3001
  description: Local development
paths:
  /:
    get:
      tags:
      - health
      summary: |-
        Health check handler
        Returns a simple JSON response indicating the server is running
      operationId: health_check
      responses:
        '200':
          description: Server is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /livekit/participant:
    delete:
      tags:
      - livekit
      summary: Handler for DELETE /livekit/participant endpoint
      description: |-
        Removes a participant from a LiveKit room, forcibly disconnecting them.
        The room name is normalized with the auth.id prefix for tenant isolation,
        ensuring users can only remove participants from their own rooms.

        Note: This does not invalidate the participant's token. To prevent rejoining,
        use short-lived tokens and avoid issuing new tokens to removed participants.

        # Arguments
        * `state` - Shared application state containing LiveKit configuration
        * `auth` - Authentication context from middleware
        * `request` - Request with room name and participant identity

        # Returns
        * `Response` - JSON response with removal status or error

        # Errors
        * 400 Bad Request - Empty room name or participant identity
        * 404 Not Found - Participant not found in the room
        * 500 Internal Server Error - LiveKit not configured or removal failed

        # Flow
        1. Validate request fields are not empty
        2. Normalize room name with auth.id prefix
        3. Verify participant exists in the room
        4. Remove the participant
        5. Return success or appropriate error
      operationId: remove_participant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveParticipantRequest'
        required: true
      responses:
        '200':
          description: Participant removed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveParticipantResponse'
        '400':
          description: Invalid request (empty fields)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveParticipantErrorResponse'
        '404':
          description: Participant not found in room
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveParticipantErrorResponse'
        '500':
          description: LiveKit not configured or removal failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveParticipantErrorResponse'
      security:
      - bearer_auth: []
  /livekit/participant/mute:
    post:
      tags:
      - livekit
      summary: Handler for POST /livekit/participant/mute endpoint
      description: |-
        Mutes or unmutes a participant's published track. The room name is
        normalized with the auth.id prefix for tenant isolation.

        # Arguments
        * `state` - Shared application state containing LiveKit configuration
        * `auth` - Authentication context from middleware
        * `request` - Request with room name, participant identity, track_sid, and muted state

        # Returns
        * `Response` - JSON response with mute status or error

        # Errors
        * 400 Bad Request - Empty fields in request
        * 404 Not Found - Room or participant not found
        * 500 Internal Server Error - LiveKit not configured or mute operation failed
      operationId: mute_participant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MuteParticipantRequest'
        required: true
      responses:
        '200':
          description: Track muted/unmuted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MuteParticipantResponse'
        '400':
          description: Invalid request (empty fields)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveParticipantErrorResponse'
        '404':
          description: Room or participant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveParticipantErrorResponse'
        '500':
          description: LiveKit not configured or mute failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveParticipantErrorResponse'
      security:
      - bearer_auth: []
  /livekit/rooms:
    get:
      tags:
      - livekit
      summary: Handler for GET /livekit/rooms endpoint
      description: |-
        Lists all LiveKit rooms belonging to the authenticated client.
        Rooms are filtered by the auth.id prefix for tenant isolation.

        # Arguments
        * `state` - Shared application state containing LiveKit configuration
        * `auth` - Authentication context from middleware

        # Returns
        * `Response` - JSON response with rooms list or error status

        # Errors
        * 500 Internal Server Error - LiveKit service not configured or API call failed
      operationId: list_rooms
      responses:
        '200':
          description: Rooms listed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRoomsResponse'
        '500':
          description: LiveKit service not configured or failed to list rooms
      security:
      - bearer_auth: []
  /livekit/rooms/{room_name}:
    get:
      tags:
      - livekit
      summary: Handler for GET /livekit/rooms/{room_name} endpoint
      description: |-
        Returns detailed information about a specific LiveKit room including
        all current participants. The room name is normalized with the auth.id
        prefix for tenant isolation.

        # Arguments
        * `state` - Shared application state containing LiveKit configuration
        * `auth` - Authentication context from middleware
        * `room_name` - Name of the room to retrieve (from path parameter)

        # Returns
        * `Response` - JSON response with room details or error status

        # Errors
        * 404 Not Found - Room not found or not accessible
        * 500 Internal Server Error - LiveKit service not configured or API call failed
      operationId: get_room_details
      parameters:
      - name: room_name
        in: path
        description: Name of the room to retrieve
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Room details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomDetailsResponse'
        '404':
          description: Room not found or not accessible
        '500':
          description: LiveKit service not configured or failed to get room details
      security:
      - bearer_auth: []
  /livekit/token:
    post:
      tags:
      - livekit
      summary: Handler for POST /livekit/token endpoint
      description: |-
        Generates a LiveKit JWT token for a participant to join a specific room.

        # Arguments
        * `state` - Shared application state containing LiveKit configuration
        * `request` - Token request with room name and participant details

        # Returns
        * `Response` - JSON response with token or error status

        # Errors
        * 400 Bad Request - Invalid request data (empty fields)
        * 500 Internal Server Error - LiveKit service not configured or token generation failed
      operationId: generate_token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
        required: true
      responses:
        '200':
          description: Token generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Invalid request (missing or empty fields)
        '500':
          description: LiveKit service not configured or token generation failed
      security:
      - bearer_auth: []
  /recording/{stream_id}:
    get:
      tags:
      - recordings
      summary: Download recording by stream ID from configured object storage
      operationId: download_recording
      parameters:
      - name: stream_id
        in: path
        description: Recording stream identifier
        required: true
        schema:
          type: string
        example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Recording retrieved successfully
          headers:
            Content-Disposition:
              schema:
                type: string
              description: Suggested filename for download
            Content-Length:
              schema:
                type: integer
                format: int64
                minimum: 0
              description: Size of the recording in bytes
          content:
            audio/ogg: {}
        '400':
          description: Invalid stream_id format
        '404':
          description: Recording not found
        '503':
          description: Recording storage not configured or unavailable
      security:
      - bearer_auth: []
  /sip/call:
    post:
      tags:
      - sip
      summary: Handler for POST /sip/call endpoint
      description: |-
        Initiates an outbound SIP call through LiveKit.
        The call is connected to the specified room as a SIP participant.

        # Arguments
        * `state` - Shared application state containing LiveKit handlers and config
        * `auth` - Authentication context for room name normalization
        * `request` - Call request with phone numbers and room details

        # Returns
        * `Response` - JSON response with call status or error

        # Errors
        * 400 Bad Request - Invalid phone number format or empty fields
        * 500 Internal Server Error - LiveKit not configured, outbound address missing, or call failed

        # Flow
        1. Normalize room name with auth prefix for tenant isolation
        2. Validate non-empty room name and participant identifiers
        3. Validate phone number formats
        4. Check SIP config exists and contains outbound_address
        5. Check LiveKit SIP handler is available
        6. Create outbound call (trunk is created/reused automatically)
        7. Return success response with call identifiers
      operationId: sip_call
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SIPCallRequest'
        required: true
      responses:
        '200':
          description: Call initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SIPCallResponse'
        '400':
          description: Invalid request (bad phone number or empty fields)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SIPCallErrorResponse'
        '500':
          description: LiveKit not configured, outbound address missing, or call failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SIPCallErrorResponse'
      security:
      - bearer_auth: []
  /sip/hooks:
    get:
      tags:
      - sip
      summary: Lists all configured SIP hooks.
      description: |-
        Returns the current list of SIP hooks from runtime state.
        This endpoint requires authentication if `AUTH_REQUIRED=true`.

        # Returns
        * `200 OK` - List of SIP hooks
        * `500 Internal Server Error` - If reading the cache fails
      operationId: list_sip_hooks
      responses:
        '200':
          description: List of SIP hooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipHooksResponse'
        '500':
          description: Failed to read hooks cache
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipHooksErrorResponse'
    post:
      tags:
      - sip
      summary: Updates SIP hooks.
      description: |-
        Adds or replaces SIP hooks in the cache. Hooks with matching hosts
        (case-insensitive) will be replaced. Hosts defined in the application
        configuration cannot be modified. The changes take effect immediately
        and persist across server restarts.

        **Note**: Secrets are NOT stored in the cache. Runtime-added hooks will
        use the global `hook_secret` from the server configuration.

        # Request Body
        Array of hook entries with `host` and `url` fields.

        # Returns
        * `200 OK` - Updated list of SIP hooks
        * `400 Bad Request` - If validation fails (e.g., duplicate hosts)
        * `500 Internal Server Error` - If writing the cache fails
      operationId: update_sip_hooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SipHooksRequest'
        required: true
      responses:
        '200':
          description: Updated list of SIP hooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipHooksResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipHooksErrorResponse'
        '405':
          description: Host defined in application config cannot be modified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipHooksErrorResponse'
        '500':
          description: Failed to write hooks cache
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipHooksErrorResponse'
    delete:
      tags:
      - sip
      summary: Deletes SIP hooks by host name.
      description: |-
        Removes the specified hosts from the cache. Hosts defined in the application
        configuration cannot be removed. If a host exists in the original server
        configuration, it will revert to its config value after deletion of a
        cached override. Hosts that only exist in cache will be completely removed.

        The changes take effect immediately and persist across server restarts.

        # Request Body
        Array of host names to remove (case-insensitive).

        # Returns
        * `200 OK` - Updated list of SIP hooks after deletion
        * `400 Bad Request` - If the hosts array is empty
        * `500 Internal Server Error` - If writing the cache fails
      operationId: delete_sip_hooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSipHooksRequest'
        required: true
      responses:
        '200':
          description: Updated list of SIP hooks after deletion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipHooksResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipHooksErrorResponse'
        '405':
          description: Host defined in application config cannot be modified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipHooksErrorResponse'
        '500':
          description: Failed to write hooks cache
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipHooksErrorResponse'
  /sip/transfer:
    post:
      tags:
      - sip
      summary: Handler for POST /sip/transfer endpoint
      description: |-
        Initiates a SIP REFER transfer for a participant in a LiveKit room.
        The transfer moves an ongoing SIP call to a different phone number.

        # Arguments
        * `state` - Shared application state containing LiveKit handlers
        * `request` - Transfer request with room name, participant identity, and destination

        # Returns
        * `Response` - JSON response with transfer status or error

        # Errors
        * 400 Bad Request - Invalid phone number format or empty fields
        * 404 Not Found - Specified participant not found or not a SIP participant
        * 500 Internal Server Error - LiveKit not configured or transfer operation failed

        # Flow
        1. Validate the phone number format
        2. Check LiveKit handlers are configured
        3. Verify the participant exists and is a SIP participant
        4. Execute the SIP transfer
        5. Return success or appropriate error
      operationId: sip_transfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SIPTransferRequest'
        required: true
      responses:
        '200':
          description: Transfer initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SIPTransferResponse'
        '400':
          description: Invalid request (bad phone number or empty fields)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SIPTransferErrorResponse'
        '404':
          description: Participant not found or not a SIP participant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SIPTransferErrorResponse'
        '500':
          description: LiveKit not configured or transfer failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SIPTransferErrorResponse'
      security:
      - bearer_auth: []
  /speak:
    post:
      tags:
      - tts
      summary: Handler for the /speak endpoint
      operationId: speak_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpeakRequest'
        required: true
      responses:
        '200':
          description: Audio generated successfully
          headers:
            x-audio-format:
              schema:
                type: string
              description: Audio format (linear16, mp3, etc.)
            x-sample-rate:
              schema:
                type: integer
                format: int32
                minimum: 0
              description: Sample rate in Hz
          content:
            audio/pcm: {}
        '400':
          description: Invalid request (empty text)
        '500':
          description: TTS synthesis failed
      security:
      - bearer_auth: []
  /voices:
    get:
      tags:
      - voices
      summary: Handler for GET /voices - returns available voices per provider
      operationId: list_voices
      responses:
        '200':
          description: Available voices grouped by provider
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/Voice'
                propertyNames:
                  type: string
        '500':
          description: Internal server error
      security:
      - bearer_auth: []
components:
  schemas:
    DeleteSipHooksRequest:
      type: object
      description: |-
        Request body for deleting SIP hooks.

        Contains a list of host names to remove from the SIP hooks cache.
      properties:
        hosts:
          type: array
          items:
            type: string
          description: |-
            List of host names to remove (case-insensitive).
            Hosts that exist in the original config will revert to their config values.
          example:
          - example.com
          - other.com
    HealthResponse:
      type: object
      description: Health check response
      required:
      - status
      properties:
        status:
          type: string
          description: Server status
          example: OK
    IncomingMessage:
      oneOf:
      - type: object
        required:
        - type
        properties:
          audio:
            type:
            - boolean
            - 'null'
            description: Enable audio processing (STT/TTS). Defaults to true if not specified.
          livekit:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LiveKitWebSocketConfig'
              description: Optional LiveKit configuration for real-time audio streaming
          stream_id:
            type:
            - string
            - 'null'
            description: |-
              Optional unique identifier for this WebSocket session.
              Used for recording paths and session tracking.
              If not provided, a UUID v4 will be auto-generated by the server.
            example: 550e8400-e29b-41d4-a716-446655440000
          stt_config:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/STTWebSocketConfig'
              description: STT configuration (required only when audio=true)
          tts_config:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/TTSWebSocketConfig'
              description: TTS configuration (required only when audio=true)
          type:
            type: string
            enum:
            - config
      - type: object
        required:
        - text
        - type
        properties:
          allow_interruption:
            type:
            - boolean
            - 'null'
            description: Allow this TTS to be interrupted
          flush:
            type:
            - boolean
            - 'null'
            description: Flush TTS buffer immediately
          text:
            type: string
            description: Text to synthesize
          type:
            type: string
            enum:
            - speak
      - type: object
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - clear
      - type: object
        required:
        - message
        - role
        - type
        properties:
          debug:
            description: Optional debug metadata
          message:
            type: string
            description: Message content
          role:
            type: string
            description: Message role (e.g., "user", "assistant")
          topic:
            type:
            - string
            - 'null'
            description: Optional topic/channel
          type:
            type: string
            enum:
            - send_message
      - type: object
        description: |-
          Transfer the current SIP call to another phone number.

          This command initiates a SIP REFER transfer for the current participant
          in the LiveKit room. The participant identity and room name are derived
          from the WebSocket connection state.
        required:
        - transfer_to
        - type
        properties:
          transfer_to:
            type: string
            description: |-
              The destination phone number to transfer the call to.

              Accepts phone numbers in various formats:
              - International format with `+` prefix (e.g., "+1234567890")
              - National format without prefix (e.g., "1234567890")
              - Internal extensions (e.g., "1234")

              Validation is performed by the handler, not during deserialization.
            example: '+1234567890'
          type:
            type: string
            enum:
            - sip_transfer
      description: WebSocket message types for incoming messages
    ListRoomsResponse:
      type: object
      description: |-
        Response containing the list of LiveKit rooms

        # Example
        ```json
        {
          "rooms": [
            {
              "name": "project1_room-1",
              "num_participants": 2,
              "creation_time": 1703123456
            },
            {
              "name": "project1_room-2",
              "num_participants": 0,
              "creation_time": 1703123789
            }
          ]
        }
        ```
      required:
      - rooms
      properties:
        rooms:
          type: array
          items:
            $ref: '#/components/schemas/RoomInfo'
          description: List of rooms belonging to the authenticated client
    LiveKitWebSocketConfig:
      type: object
      description: LiveKit configuration for WebSocket messages
      required:
      - room_name
      properties:
        enable_recording:
          type: boolean
          description: Enable recording for this session
        listen_participants:
          type: array
          items:
            type: string
          description: |-
            List of participant identities to listen to for audio tracks and data messages. (All participants by default)

            **Behavior**:
            - If **empty** (default): Audio tracks and data messages from **all participants** will be processed
            - If **populated**: Only audio tracks and data messages from participants whose identities
              are in this list will be processed; others will be ignored
        room_name:
          type: string
          description: Room name to join or create
          example: conversation-room-123
        sayna_participant_identity:
          type:
          - string
          - 'null'
          description: Sayna AI participant identity (defaults to "sayna-ai")
          example: sayna-ai
        sayna_participant_name:
          type:
          - string
          - 'null'
          description: Sayna AI participant display name (defaults to "Sayna AI")
          example: Sayna AI
    MuteParticipantRequest:
      type: object
      description: |-
        Request body for muting/unmuting a participant's track

        # Example
        ```json
        {
          "room_name": "conversation-room-123",
          "participant_identity": "user-alice-456",
          "track_sid": "TR_abc123",
          "muted": true
        }
        ```
      required:
      - room_name
      - participant_identity
      - track_sid
      - muted
      properties:
        muted:
          type: boolean
          description: True to mute, false to unmute
          example: true
        participant_identity:
          type: string
          description: The identity of the participant whose track to mute
          example: user-alice-456
        room_name:
          type: string
          description: The LiveKit room name where the participant is connected
          example: conversation-room-123
        track_sid:
          type: string
          description: The session ID of the track to mute/unmute
          example: TR_abc123
    MuteParticipantResponse:
      type: object
      description: |-
        Response for a successful mute/unmute operation

        # Example
        ```json
        {
          "room_name": "project1_conversation-room-123",
          "participant_identity": "user-alice-456",
          "track_sid": "TR_abc123",
          "muted": true
        }
        ```
      required:
      - room_name
      - participant_identity
      - track_sid
      - muted
      properties:
        muted:
          type: boolean
          description: Current muted state
          example: true
        participant_identity:
          type: string
          description: The identity of the participant
          example: user-alice-456
        room_name:
          type: string
          description: The normalized room name (with tenant prefix)
          example: project1_conversation-room-123
        track_sid:
          type: string
          description: The session ID of the track
          example: TR_abc123
    OutgoingMessage:
      oneOf:
      - type: object
        required:
        - stream_id
        - type
        properties:
          livekit_room_name:
            type:
            - string
            - 'null'
            description: Optional LiveKit room name that was created
          livekit_url:
            type:
            - string
            - 'null'
            description: Optional LiveKit URL to connect to
          sayna_participant_identity:
            type:
            - string
            - 'null'
            description: Optional identity of the AI agent participant in the room
          sayna_participant_name:
            type:
            - string
            - 'null'
            description: Optional display name of the AI agent participant
          stream_id:
            type: string
            description: |-
              Unique identifier for this WebSocket session.
              Either provided by the client in config or auto-generated by server (UUID v4).
            example: 550e8400-e29b-41d4-a716-446655440000
          type:
            type: string
            enum:
            - ready
      - type: object
        required:
        - transcript
        - is_final
        - is_speech_final
        - confidence
        - type
        properties:
          confidence:
            type: number
            format: float
            description: Confidence score (0.0 to 1.0)
          is_final:
            type: boolean
            description: Whether this is the final version of the transcript
          is_speech_final:
            type: boolean
            description: Whether speech has ended
          transcript:
            type: string
            description: Transcribed text
          type:
            type: string
            enum:
            - stt_result
      - type: object
        required:
        - message
        - type
        properties:
          message:
            $ref: '#/components/schemas/UnifiedMessage'
            description: Unified message structure containing text/data from various sources
          type:
            type: string
            enum:
            - message
      - type: object
        required:
        - participant
        - type
        properties:
          participant:
            $ref: '#/components/schemas/ParticipantDisconnectedInfo'
            description: Information about the participant who disconnected
          type:
            type: string
            enum:
            - participant_disconnected
      - type: object
        description: TTS playback completion notification
        required:
        - timestamp
        - type
        properties:
          timestamp:
            type: integer
            format: int64
            description: Timestamp when completion occurred (milliseconds since epoch)
            minimum: 0
          type:
            type: string
            enum:
            - tts_playback_complete
      - type: object
        required:
        - message
        - type
        properties:
          message:
            type: string
            description: Error message
          type:
            type: string
            enum:
            - error
      - type: object
        description: |-
          SIP transfer specific error

          This message is sent when a SIP transfer operation fails.
          Clients can subscribe to this specific error type to handle
          SIP transfer failures separately from other errors.
        required:
        - message
        - type
        properties:
          message:
            type: string
            description: Error message describing why the transfer failed
          type:
            type: string
            enum:
            - sip_transfer_error
      description: WebSocket message types for outgoing messages
    ParticipantDisconnectedInfo:
      type: object
      description: Participant disconnection information
      required:
      - identity
      - room
      - timestamp
      properties:
        identity:
          type: string
          description: Participant's unique identity
        name:
          type:
          - string
          - 'null'
          description: Participant's display name (if available)
        room:
          type: string
          description: Room identifier
        timestamp:
          type: integer
          format: int64
          description: Timestamp when the disconnection occurred
          minimum: 0
    ParticipantInfo:
      type: object
      description: |-
        Detailed information about a participant in a LiveKit room

        # Example
        ```json
        {
          "sid": "PA_abc123",
          "identity": "user-alice-456",
          "name": "Alice Smith",
          "state": "ACTIVE",
          "kind": "STANDARD",
          "joined_at": 1703123456,
          "metadata": "{\"role\": \"host\"}",
          "attributes": {}
        }
        ```
      required:
      - sid
      - identity
      - name
      - state
      - kind
      - joined_at
      - metadata
      - attributes
      - is_publisher
      properties:
        attributes:
          type: object
          description: User-specified attributes for the participant
          additionalProperties:
            type: string
          propertyNames:
            type: string
        identity:
          type: string
          description: Unique identifier provided when connecting
          example: user-alice-456
        is_publisher:
          type: boolean
          description: Whether the participant is currently publishing audio/video
          example: true
        joined_at:
          type: integer
          format: int64
          description: Timestamp when participant joined (Unix timestamp in seconds)
          example: 1703123456
        kind:
          type: string
          description: 'Participant kind: STANDARD, AGENT, SIP, EGRESS, or INGRESS'
          example: STANDARD
        metadata:
          type: string
          description: User-specified metadata for the participant
          example:
            role: host
        name:
          type: string
          description: Display name of the participant
          example: Alice Smith
        sid:
          type: string
          description: Unique session ID for this participant (generated by LiveKit)
          example: PA_abc123
        state:
          type: string
          description: 'Participant state: JOINING, JOINED, ACTIVE, or DISCONNECTED'
          example: ACTIVE
    Pronunciation:
      type: object
      description: Pronunciation replacement configuration
      required:
      - word
      - pronunciation
      properties:
        pronunciation:
          type: string
          description: Pronunciation to use instead
          example: A P I
        word:
          type: string
          description: Word to replace
          example: API
    RemoveParticipantErrorResponse:
      type: object
      description: |-
        Error response for participant removal failures

        # Example
        ```json
        {
          "error": "Participant 'user-123' not found in room",
          "code": "PARTICIPANT_NOT_FOUND"
        }
        ```
      required:
      - error
      - code
      properties:
        code:
          type: string
          description: Machine-readable error code
          example: PARTICIPANT_NOT_FOUND
        error:
          type: string
          description: Human-readable error message
          example: Participant not found in room
    RemoveParticipantRequest:
      type: object
      description: |-
        Request body for removing a participant from a LiveKit room

        # Example
        ```json
        {
          "room_name": "conversation-room-123",
          "participant_identity": "user-alice-456"
        }
        ```
      required:
      - room_name
      - participant_identity
      properties:
        participant_identity:
          type: string
          description: The identity of the participant to remove
          example: user-alice-456
        room_name:
          type: string
          description: The LiveKit room name where the participant is connected
          example: conversation-room-123
    RemoveParticipantResponse:
      type: object
      description: |-
        Response for a successful participant removal

        # Example
        ```json
        {
          "status": "removed",
          "room_name": "project1_conversation-room-123",
          "participant_identity": "user-alice-456"
        }
        ```
      required:
      - status
      - room_name
      - participant_identity
      properties:
        participant_identity:
          type: string
          description: The identity of the removed participant
          example: user-alice-456
        room_name:
          type: string
          description: The normalized room name (with tenant prefix)
          example: project1_conversation-room-123
        status:
          type: string
          description: Status of the removal operation
          example: removed
    RoomDetailsResponse:
      type: object
      description: |-
        Detailed information about a LiveKit room including participants

        # Example
        ```json
        {
          "sid": "RM_xyz789",
          "name": "project1_conversation-room-123",
          "num_participants": 2,
          "max_participants": 10,
          "creation_time": 1703123456,
          "metadata": "",
          "active_recording": false,
          "participants": [...]
        }
        ```
      required:
      - sid
      - name
      - num_participants
      - max_participants
      - creation_time
      - metadata
      - active_recording
      - participants
      properties:
        active_recording:
          type: boolean
          description: Whether a recording is currently active
          example: false
        creation_time:
          type: integer
          format: int64
          description: Room creation time (Unix timestamp in seconds)
          example: 1703123456
        max_participants:
          type: integer
          format: int32
          description: Maximum allowed participants (0 = no limit)
          example: 10
          minimum: 0
        metadata:
          type: string
          description: User-specified metadata for the room
          example: ''
        name:
          type: string
          description: The full room name (includes tenant prefix)
          example: project1_conversation-room-123
        num_participants:
          type: integer
          format: int32
          description: Number of current participants in the room
          example: 2
          minimum: 0
        participants:
          type: array
          items:
            $ref: '#/components/schemas/ParticipantInfo'
          description: List of participants currently in the room
        sid:
          type: string
          description: Unique session ID for the room (generated by LiveKit)
          example: RM_xyz789
    RoomInfo:
      type: object
      description: |-
        Information about a LiveKit room

        # Example
        ```json
        {
          "name": "project1_conversation-room-123",
          "num_participants": 2,
          "creation_time": 1703123456
        }
        ```
      required:
      - name
      - num_participants
      - creation_time
      properties:
        creation_time:
          type: integer
          format: int64
          description: Room creation time (Unix timestamp in seconds)
          example: 1703123456
        name:
          type: string
          description: The full room name (includes tenant prefix)
          example: project1_conversation-room-123
        num_participants:
          type: integer
          format: int32
          description: Number of current participants in the room
          example: 2
          minimum: 0
    SIPCallErrorResponse:
      type: object
      description: |-
        Error response for SIP call failures

        # Example
        ```json
        {
          "error": "Outbound address not configured",
          "code": "OUTBOUND_ADDRESS_NOT_CONFIGURED"
        }
        ```
      required:
      - error
      - code
      properties:
        code:
          type: string
          description: Machine-readable error code
          example: OUTBOUND_ADDRESS_NOT_CONFIGURED
        error:
          type: string
          description: Human-readable error message
          example: Outbound address not configured
    SIPCallRequest:
      type: object
      description: |-
        Request body for initiating an outbound SIP call

        # Example
        ```json
        {
          "room_name": "call-room-123",
          "participant_name": "John Doe",
          "participant_identity": "caller-456",
          "from_phone_number": "+15105550123",
          "to_phone_number": "+15551234567"
        }
        ```
      required:
      - room_name
      - participant_name
      - participant_identity
      - from_phone_number
      - to_phone_number
      properties:
        from_phone_number:
          type: string
          description: |-
            Phone number the call will originate from.
            Must be configured in your SIP provider.
            Supports international format (+1234567890).
          example: '+15105550123'
        participant_identity:
          type: string
          description: Identity for the SIP participant in the room
          example: caller-456
        participant_name:
          type: string
          description: Display name for the SIP participant in the room
          example: John Doe
        room_name:
          type: string
          description: The LiveKit room name to connect the call to
          example: call-room-123
        to_phone_number:
          type: string
          description: |-
            Phone number to dial.
            Supports international format (+1234567890), national format (07123456789),
            or extensions (1234).
          example: '+15551234567'
    SIPCallResponse:
      type: object
      description: |-
        Response for a successful SIP call initiation

        # Example
        ```json
        {
          "status": "initiated",
          "room_name": "call-room-123",
          "participant_identity": "caller-456",
          "participant_id": "PA_abc123",
          "sip_call_id": "SC_xyz789"
        }
        ```
      required:
      - status
      - room_name
      - participant_identity
      - participant_id
      - sip_call_id
      properties:
        participant_id:
          type: string
          description: The unique participant ID assigned by LiveKit
          example: PA_abc123
        participant_identity:
          type: string
          description: The identity of the SIP participant in the room
          example: caller-456
        room_name:
          type: string
          description: The room name where the call was connected
          example: call-room-123
        sip_call_id:
          type: string
          description: The unique SIP call ID for tracking
          example: SC_xyz789
        status:
          type: string
          description: Status of the call request ("initiated")
          example: initiated
    SIPTransferErrorResponse:
      type: object
      description: |-
        Error response for SIP transfer failures

        # Example
        ```json
        {
          "error": "Participant 'sip_123' not found or is not a SIP participant",
          "code": "PARTICIPANT_NOT_FOUND"
        }
        ```
      required:
      - error
      - code
      properties:
        code:
          type: string
          description: Machine-readable error code
          example: PARTICIPANT_NOT_FOUND
        error:
          type: string
          description: Human-readable error message
          example: Participant not found or is not a SIP participant
    SIPTransferRequest:
      type: object
      description: |-
        Request body for initiating a SIP call transfer

        # Example
        ```json
        {
          "room_name": "call-room-123",
          "participant_identity": "sip_participant_456",
          "transfer_to": "+15551234567"
        }
        ```
      required:
      - room_name
      - participant_identity
      - transfer_to
      properties:
        participant_identity:
          type: string
          description: |-
            The identity of the SIP participant to transfer.
            This can be obtained by listing participants in the room via LiveKit API.
          example: sip_participant_456
        room_name:
          type: string
          description: The LiveKit room name where the SIP participant is connected
          example: call-room-123
        transfer_to:
          type: string
          description: |-
            The phone number to transfer the call to.
            Supports international format (+1234567890), national format (07123456789),
            or internal extensions (1234).
          example: '+15551234567'
    SIPTransferResponse:
      type: object
      description: |-
        Response for a successful SIP transfer initiation

        Note: A successful response indicates the transfer has been initiated,
        not that it has completed. The actual transfer may take several seconds.

        # Example
        ```json
        {
          "status": "initiated",
          "room_name": "call-room-123",
          "participant_identity": "sip_participant_456",
          "transfer_to": "tel:+15551234567"
        }
        ```
      required:
      - status
      - room_name
      - participant_identity
      - transfer_to
      properties:
        participant_identity:
          type: string
          description: The identity of the participant being transferred
          example: sip_participant_456
        room_name:
          type: string
          description: The room name where the transfer was initiated
          example: call-room-123
        status:
          type: string
          description: Status of the transfer request ("initiated" or "completed")
          example: initiated
        transfer_to:
          type: string
          description: 'The normalized phone number with tel: prefix'
          example: tel:+15551234567
    STTWebSocketConfig:
      type: object
      description: STT configuration for WebSocket messages (without API key)
      required:
      - provider
      - language
      - sample_rate
      - channels
      - punctuation
      - encoding
      - model
      properties:
        channels:
          type: integer
          format: int32
          description: Number of audio channels (1 for mono, 2 for stereo)
          example: 1
          minimum: 0
        encoding:
          type: string
          description: Encoding of the audio
          example: linear16
        language:
          type: string
          description: Language code for transcription (e.g., "en-US", "es-ES")
          example: en-US
        model:
          type: string
          description: Model to use for transcription
          example: nova-2
        provider:
          type: string
          description: Provider name (e.g., "deepgram")
          example: deepgram
        punctuation:
          type: boolean
          description: Enable punctuation in results
          example: true
        sample_rate:
          type: integer
          format: int32
          description: Sample rate of the audio in Hz
          example: 16000
          minimum: 0
    SipHookEntry:
      type: object
      description: A single SIP hook entry.
      required:
      - host
      - url
      properties:
        host:
          type: string
          description: Host pattern for matching SIP domains (case-insensitive)
          example: example.com
        url:
          type: string
          description: HTTPS URL to forward webhook events to
          example: https://webhook.example.com/events
    SipHooksErrorResponse:
      type: object
      description: Error response for SIP hooks operations.
      required:
      - error
      properties:
        error:
          type: string
          description: Error message describing what went wrong
          example: 'Duplicate host detected: example.com'
    SipHooksRequest:
      type: object
      description: |-
        Request body for updating SIP hooks.

        Contains a list of SIP webhook configurations to add or replace.
      properties:
        hooks:
          type: array
          items:
            $ref: '#/components/schemas/SipHookEntry'
          description: |-
            List of SIP hooks to add or replace.
            Hooks with matching hosts (case-insensitive) will be replaced.
    SipHooksResponse:
      type: object
      description: Response body for SIP hooks operations.
      required:
      - hooks
      properties:
        hooks:
          type: array
          items:
            $ref: '#/components/schemas/SipHookEntry'
          description: List of all configured SIP hooks
    SpeakRequest:
      type: object
      description: Request body for the speak endpoint
      required:
      - text
      - tts_config
      properties:
        text:
          type: string
          description: The text to synthesize
          example: Hello, world!
        tts_config:
          $ref: '#/components/schemas/TTSWebSocketConfig'
          description: TTS configuration (without API key)
    TTSWebSocketConfig:
      type: object
      description: TTS configuration for WebSocket messages (without API key)
      required:
      - provider
      - model
      properties:
        audio_format:
          type:
          - string
          - 'null'
          description: Audio format preference
          example: linear16
        connection_timeout:
          type:
          - integer
          - 'null'
          format: int64
          description: Connection timeout in seconds
          example: 30
          minimum: 0
        model:
          type: string
          description: Model to use for TTS
          example: aura-asteria-en
        pronunciations:
          type: array
          items:
            $ref: '#/components/schemas/Pronunciation'
          description: Pronunciation replacements to apply before TTS
        provider:
          type: string
          description: Provider name (e.g., "deepgram")
          example: deepgram
        request_timeout:
          type:
          - integer
          - 'null'
          format: int64
          description: Request timeout in seconds
          example: 60
          minimum: 0
        sample_rate:
          type:
          - integer
          - 'null'
          format: int32
          description: Sample rate preference
          example: 24000
          minimum: 0
        speaking_rate:
          type:
          - number
          - 'null'
          format: float
          description: Speaking rate (0.25 to 4.0, 1.0 is normal)
          example: 1.0
        voice_id:
          type:
          - string
          - 'null'
          description: Voice ID or name to use for synthesis
          example: aura-asteria-en
    TokenRequest:
      type: object
      description: |-
        Request body for generating a LiveKit token

        # Example
        ```json
        {
          "room_name": "conversation-room-123",
          "participant_name": "Alice Smith",
          "participant_identity": "user-alice-456"
        }
        ```
      required:
      - room_name
      - participant_name
      - participant_identity
      properties:
        participant_identity:
          type: string
          description: Unique identifier for the participant (e.g., "user-123")
          example: user-alice-456
        participant_name:
          type: string
          description: Display name for the participant (e.g., "John Doe")
          example: Alice Smith
        room_name:
          type: string
          description: The LiveKit room name to generate a token for
          example: conversation-room-123
    TokenResponse:
      type: object
      description: |-
        Response containing the generated LiveKit token

        # Example
        ```json
        {
          "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
          "room_name": "conversation-room-123",
          "participant_identity": "user-alice-456",
          "livekit_url": "ws://localhost:7880"
        }
        ```
      required:
      - token
      - room_name
      - participant_identity
      - livekit_url
      properties:
        livekit_url:
          type: string
          description: The LiveKit server URL to connect to
          example: ws://localhost:7880
        participant_identity:
          type: string
          description: Echo back the participant identity for client confirmation
          example: user-alice-456
        room_name:
          type: string
          description: Echo back the room name for client confirmation
          example: conversation-room-123
        token:
          type: string
          description: The generated JWT token for LiveKit
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    UnifiedMessage:
      type: object
      description: Unified message structure for all incoming messages from various sources
      required:
      - identity
      - topic
      - room
      - timestamp
      properties:
        data:
          type:
          - string
          - 'null'
          description: Binary data encoded as base64 (optional)
        identity:
          type: string
          description: Participant/sender identity
        message:
          type:
          - string
          - 'null'
          description: Text message content (optional)
        room:
          type: string
          description: Room/space identifier
        timestamp:
          type: integer
          format: int64
          description: Timestamp when the message was received
          minimum: 0
        topic:
          type: string
          description: Topic/channel for the message
    Voice:
      type: object
      required:
      - id
      - sample
      - name
      - accent
      - gender
      - language
      properties:
        accent:
          type: string
          description: Accent or dialect
          example: American
        gender:
          type: string
          description: Gender of the voice
          example: Female
        id:
          type: string
          description: Voice ID or canonical name
          example: aura-asteria-en
        language:
          type: string
          description: Language supported by the voice
          example: English
        name:
          type: string
          description: Display name of the voice
          example: Asteria
        sample:
          type: string
          description: URL to sample audio
          example: https://example.com/sample.mp3
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from the authentication service. Required when AUTH_REQUIRED is enabled.
tags:
- name: health
  description: Health check endpoints
- name: voices
  description: TTS voice management
- name: tts
  description: Text-to-speech synthesis
- name: livekit
  description: LiveKit room and token management
- name: recordings
  description: Recording download operations
- name: sip
  description: SIP webhook configuration management
- name: websocket
  description: WebSocket API for real-time communication
